{% load kcal_count %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Przemyślane Zakupy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body style="min-height: 100vh; display: flex; flex-direction: column">
    <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
{#        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">#}
{#          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>#}
{#        </a>#}

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/"><button type="button" class="btn btn-primary me-2">Strona główna</button></a></li>
          <li><a href="/plans/"><button type="button" class="btn btn-outline-primary me-2">Plany</button></a></li>
          <li><a href="/meals/"><button type="button" class="btn btn-outline-primary me-2">Dania</button></a></li>
          <li><a href="/products/"><button type="button" class="btn btn-outline-primary me-2">Produkty</button></a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Wyszukaj..." aria-label="Search" name="search">
            <input type="submit" hidden>
        </form>
      {% if not user.is_authenticated %}
        <div class="col-md-3 text-end">
            <a href="/login/"><button type="button" class="btn btn-outline-primary me-2">Logowanie</button></a>
            <a href="/register/"><button type="button" class="btn btn-primary">Rejestracja</button></a>
      </div>
      {% else %}
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
              <li style="text-align: center"><b>{{ user.username }}</b></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Aktualny Plan</a></li>
            <li><a class="dropdown-item" href="#">Moje Plany</a></li>
            <li><a class="dropdown-item" href="#">Moje Dania</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/profile/update/">Mój Profil</a></li>
            <li><a class="dropdown-item" href="/logout/">Wyloguj</a></li>
          </ul>
        </div>
      {% endif %}
      </div>
    </div>
  </header>
    <main>
        {% block main %}
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            {% if random_meals.1 %}
            <p>{{ random_meals.1|kcal_count }} kcal / 100g, koszt: {{ random_meals.1|price_count }} zł</p>
            <p><a class="btn btn-lg btn-primary" href="/meals/{{ random_meals.1.id }}">{{ random_meals.1.name }}</a></p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

        <div class="container">
          <div class="carousel-caption">
            {% if random_meals.0 %}
            <p>{{ random_meals.0|kcal_count }} kcal / 100g, koszt: {{ random_meals.0|price_count }} zł</p>
            <p><a class="btn btn-lg btn-primary" href="/meals/{{ random_meals.0.id }}">{{ random_meals.0.name }}</a></p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            {% if random_meals.2 %}
            <p>{{ random_meals.2|kcal_count }} kcal / 100g, koszt: {{ random_meals.2|price_count }} zł</p>
            <p><a class="btn btn-lg btn-primary" href="/meals/{{ random_meals.2.id }}">{{ random_meals.2.name }}</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
        {% endblock %}
    </main>
    <footer class="footer mt-auto py-3 bg-light" style="margin-top: auto">
        <p class="float-end"><a href="#"><button type="button" class="btn btn-primary me-2">Na górę strony</button></a></p>
  <div class="container">
    <span class="text-muted">made by dawidtomczynski</span>
  </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>