{% extends 'base.html' %}
{% load kcal_count %}
{% block main %}
    <div style="text-align: center">
    {% if not msg %}
        <h4>Dodaj produkty do dania: {{ meal.name }}</h4>
        <form method="post">
            <br><input type="submit" value="Zapisz">
            <br><br><p><b>Wybrane produkty:</b></p>
            {% for product in chosen_products %}
                <p><input type="checkbox" name="product" value="{{ product.id }}" checked>&ensp;<a href="/products/{{ product.id }}">
                    {{ product.name }}</a>, cena: <b>{{ product.price }} zł</b></p>
            {% endfor %}<br>
            <p><b>Inne produkty:</b></p>
            <p><input type="text" id="myInput" onkeyup="searchFunctionPars()" placeholder="Wyszukaj..."></p>
            <div id="myUL">
            {% for product in products %}
                <p><input type="checkbox" name="product" value="{{ product.id }}">&ensp;
                <a href="/products/{{ product.id }}">{{ product.name }}</a>, cena: <b>{{ product.price }} zł</b><br></p>
            {% endfor %}<br>
            {% csrf_token %}
        </form>
    {% else %}
        <h4>{{ msg }}</h4>
    {% endif %}
    </div>
{% endblock %}