{% extends 'base.html' %}
{% load kcal_count %}
{% block main %}
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            {% if random_meals.1 %}
            <p>{{ random_meals.1|kcal_count }} kcal / 100g, koszt: {{ random_meals.1|price_count }} zł</p>
            <p><a class="btn btn-lg btn-primary" href="/meals/{{ random_meals.1.id }}">{{ random_meals.1.name }}</a></p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

        <div class="container">
          <div class="carousel-caption">
            {% if random_meals.0 %}
            <p>{{ random_meals.0|kcal_count }} kcal / 100g, koszt: {{ random_meals.0|price_count }} zł</p>
            <p><a class="btn btn-lg btn-primary" href="/meals/{{ random_meals.0.id }}">{{ random_meals.0.name }}</a></p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            {% if random_meals.2 %}
            <p>{{ random_meals.2|kcal_count }} kcal / 100g, koszt: {{ random_meals.2|price_count }} zł</p>
            <p><a class="btn btn-lg btn-primary" href="/meals/{{ random_meals.2.id }}">{{ random_meals.2.name }}</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div><br>
    <div style="text-align: center">
    {% if user.is_authenticated %}
        <p><a href="/meals/add/"><button type="button" class="btn btn-outline-primary me-2">Dodaj nowe danie</button></a></p>
    {% endif %}
        <p><input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Wyszukaj..."></p>
    <div id="myUL">
        {% for meal in meals %}
            <p><li><a href="/meals/{{ meal.id }}">{{ meal.name }}</a>, {{ meal|kcal_count }} kcal / 100g,
            waga około: {{ meal|weight_count }} g, koszt: <b>{{ meal|price_count }} zł</b></li>
        {% endfor %}
    </div><br>
    <div style="text-align:center">
    <span>
        {% if meals.has_previous %}
            <a href="?page={{ meals.previous_page_number }}">< poprzednia</a>
        {% endif %}
        <span>
                {% for page_number in meals.paginator.page_range %}
                    | <a href="/meals/?page={{ page_number }}">{{ page_number }}</a>
                {% endfor %} |
        </span>
        {% if meals.has_next %}
            <a href="?page={{ meals.next_page_number }}">następna ></a>
        {% endif %}
        </span>
    </div>
{% endblock %}