{% extends 'base.html' %}
{% load kcal_count %}
{% block main %}
    <div style="text-align: center">
    {% if not msg %}
        <h4>Dodaj danie: {{ meal.name }} do planu:</h4>
        <form method="post">
            <br><input type="submit" value="Zapisz">
            <br><br><p><b>Aktualnie w planach:</b></p>
            {% for plan in chosen_plans %}
                <p><li><a href="/plans/{{ plan.id }}">{{ plan.name }}</a>, koszt całkowity: <b>{{ plan|plan_cost }} zł</b></li></p>
            {% endfor %}
            <p><b>Inne plany:</b></p>
            <p><input type="text" id="myInput" onkeyup="searchFunctionPars()" placeholder="Wyszukaj..."></p>
            <div id="myUL">
            {% for plan in plans %}
                <p><input type="checkbox" name="plan" value="{{ plan.id }}">&ensp;<a href="/plans/{{ plan.id }}">{{ plan.name }}</a>,
                    koszt całkowity: <b>{{ plan|plan_cost }} zł</b><br></p>
            {% endfor %}<br>
            {% csrf_token %}
            </div>
        </form>
    {% else %}
        <h4>{{ msg }}</h4>
    {% endif %}
    </div>
{% endblock %}