{% extends 'base.html' %}
{% block main %}
    <div style="text-align:center">
        <h4>Lista produktów dla planu: {{ plan.name }}</h4>
        <h4 style="text-align: center">Łączna kwota: {{ cost }} zł</h4>
    <main class="container mt-4">
        <div class="row mt-4" style="margin: 20px">
        <div class="col">
          <h4>Do kupienia:</h4>
          <div id="list1" class="list-group rounded shadow">
            {% for product in products %}
                <li class="list-group-item list-group-item-action">{{ product.name }}, cena: {{ product.price }} zł</li>
            {% endfor %}
          </div>
        </div>
        <div class="col">
          <h4>Kupione:</h4>
          <div id="list2" class="list-group rounded shadow">

          </div>
        </div>
      </div>
    </main>
    </div>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/product_list.js' %}"></script>
{% endblock %}