{% extends 'base.html' %}
{% load kcal_count %}
{% block main %}
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            {% if random_plans.1 %}
            <p>Dla {{ random_plans.1.persons }} osób, koszt całkowity: {{ random_plans.1|plan_cost }} zł</p>
            <p><a class="btn btn-lg btn-primary" href="/plans/{{ random_plans.1.id }}">{{ random_plans.1.name }}</a></p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

        <div class="container">
          <div class="carousel-caption">
            {% if random_plans.0 %}
            <p>Dla {{ random_plans.0.persons }} osób, koszt całkowity: {{ random_plans.0|plan_cost }} zł</p>
            <p><a class="btn btn-lg btn-primary" href="/plans/{{ random_plans.0.id }}">{{ random_plans.0.name }}</a></p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            {% if random_plans.2 %}
            <p>Dla {{ random_plans.2.persons }} osób, koszt całkowity: {{ random_plans.2|plan_cost }} zł</p>
            <p><a class="btn btn-lg btn-primary" href="/plans/{{ random_plans.2.id }}">{{ random_plans.2.name }}</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div><br>
    <div style="text-align: center">
    {% if user.is_authenticated %}
        <p><a href="/plans/add/"><button type="button" class="btn btn-outline-primary me-2">Dodaj nowy plan</button></a></p>
    {% endif %}
        <p><input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Wyszukaj..."></p>
    <div id="myUL">
        {% for plan in plans %}
            <p><li><a href="/plans/{{ plan.id }}">{{ plan.name }}</a>,
            {% if plan.persons == 1 %}
                dla {{ plan.persons }} osoby,
            {% else %}
                dla {{ plan.persons }} osób,
            {% endif %}
            koszt całkowity: <b>{{ plan|plan_cost }} zł</b></li>
        {% endfor %}
    </div>
    </div><br>
    <div style="text-align:center">
    <span>
        {% if plans.has_previous %}
            <a href="?page={{ plans.previous_page_number }}">< poprzednia</a>
        {% endif %}
        <span>
                {% for page_number in plans.paginator.page_range %}
                    | <a href="/plans/?page={{ page_number }}">{{ page_number }}</a>
                {% endfor %} |
        </span>
        {% if plans.has_next %}
            <a href="?page={{ plans.next_page_number }}">następna ></a>
        {% endif %}
        </span>
    </div>
{% endblock %}