{% extends 'base.html' %}
{% load kcal_count %}
{% block main %}
    <div style="text-align: center">
    {% if not msg %}
        <h4>Dodaj dania do planu: {{ plan.name }}</h4><br>
        {% if meals.count != 0 %}
            <a href="/plans/add-meal-random/{{ plan.id }}"><button>Dodaj losowe danie</button></a>
        {% endif %}
        <form method="post">
            <br><input type="submit" value="Zapisz">
            <br><br><p><b>Wybrane dania:</b></p>
            {% for meal in chosen_meals %}
                <p><input type="checkbox" name="meal" value="{{ meal.id }}" checked>&ensp;<a href="/meals/{{ meal.id }}">{{ meal.name }}</a>,
                    {{ meal|kcal_count }} kcal / 100g, waga około: {{ meal|weight_count }}g, koszt: <b>{{ meal|price_count }} zł</b></p>
            {% endfor %}<br>
            <p><b>Inne dania:</b></p>
            <p><input type="text" id="myInput" onkeyup="searchFunctionPars()" placeholder="Wyszukaj..."></p>
            <div id="myUL">
            {% for meal in meals %}
                <p><input type="checkbox" name="meal" value="{{ meal.id }}">&ensp;<a href="/meals/{{ meal.id }}">{{ meal.name }}</a>,
                    {{ meal|kcal_count }} kcal / 100g, waga około: {{ meal|weight_count }}g, koszt: <b>{{ meal|price_count }} zł</b></p>
            {% endfor %}
            </div>
            {% csrf_token %}
        </form>
    {% else %}
        <h4>{{ msg }}</h4>
    {% endif %}
    </div>
{% endblock %}