{% extends 'base.html' %}
{% load kcal_count %}
{% block main %}
    <div style="text-align:center">
        <h3>{{ plan.name }}</h3>
        <p>Dla {{ plan.persons }} osób</p>
        <p>Całkowity koszt: <b>{{ plan|plan_cost }} zł</b></p>
        <p>Dania w planie:</p>
        <ul>
            {% for meal in meals %}
                <li><a href="/meals/{{ meal.id }}">{{ meal.name }}</a>, {{ meal|kcal_count }} kcal / 100g, waga około: {{ meal|weight_count }}g, koszt: {{ meal|price_count }} zł</li>
            {% endfor %}
        </ul>
        {% if user.is_authenticated and plan.user_id == user.id %}
            <a href="/plans/edit/{{ plan.id }}"><button type="button" class="btn btn-outline-primary me-2">Edytuj plan</button></a>
            <a href="/plans/delete/{{ plan.id }}"><button type="button" class="btn btn-outline-primary me-2">Usuń plan</button></a>
        {% endif %}
    </div>
{% endblock %}