{% extends 'base.html' %}
{% block main %}
    <div style="text-align:center">
        {% if user.is_superuser %}
            <a href="/products/add/"><button type="button" class="btn btn-outline-primary me-2">Dodaj nowy produkt</button></a>
            <a href="/products/types/"><button type="button" class="btn btn-outline-primary me-2">Typy produktów</button></a><br><br>
        {% endif %}
        {% for product in products %}
            <li><a href="/products/{{ product.id }}">{{ product.name }}</a>, {{ product.price }} zł</li>
        {% endfor %}
    </div><br>
    <div style="text-align:center">
    <span>
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">< poprzednia</a>
        {% endif %}
        <span>
                {% for page_number in products.paginator.page_range %}
                    | <a href="/products/?page={{ page_number }}">{{ page_number }}</a>
                {% endfor %} |
        </span>
        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">następna ></a>
        {% endif %}
        </span>
    </div>
{% endblock %}