{% extends 'base.html' %}
{% block main %}
    <br>
    <div style="text-align:center">
        {% if user.is_superuser %}
            <p><a href="/products/add/"><button type="button" class="btn btn-outline-primary me-2">Dodaj nowy produkt</button></a>
                <a href="/products/types/"><button type="button" class="btn btn-outline-primary me-2">Typy produktów</button></a></p>
        {% endif %}
        <p><input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Wyszukaj..."></p>
    <div id="myUL">
        {% for product in products %}
            <p><li><a href="/products/{{ product.id }}">{{ product.name }}</a>, {{ product.price }} zł</li>
        {% endfor %}
    </div>
    </div><br>
{% endblock %}