{% extends 'base.html' %}
{% load kcal_count %}
{% block main %}
    <div style="text-align: center">
        {% for meal in favourite_meals %}
            <p><li><a href="/meals/{{ meal.id }}">{{ meal.name }}</a>, {{ meal|kcal_count }} kcal / 100g,
                waga około: {{ meal|weight_count }} g, koszt: <b>{{ meal|price_count }} zł</b>
                &emsp; <a href="/profile/favourite-meals/delete/{{ meal.id }}"><button>Usuń z ulubionych</button></a></li>
        {% endfor %}<br>
    </div><br>
{% endblock %}